@charset "UTF-8";
.container_wrap {
    min-height: 600px;
    padding-bottom: 50px;
        font-size: 11px;
    position: relative;
    min-width: 1100px;
    height: 100%;
    color: #7b7b7b;
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
}
.catal{
	width: 100%;
}
.wrap .container_layout {
    width: 1100px;
    margin: auto;
}
.mypage_cont .my_cont header .positA {
    right: 10px;
    bottom: 0;
}
.ml20 {
    margin-left: 20px;
}
.tit_bg_group {
    background: #fafafa;
    padding: 30px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.page_location {
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.page_location{
	display: block;
}
.page_location > ul:before, .page_location > ul:after {
    display: table;
    overflow: hidden;
    content: "";
}
.page_location > ul:after {
    clear: both;
}
.page_location > ul > li {
    position: relative;
    float: left;
}
.page_location > ul > li:first-child > a {
    width: auto;
    padding: 3px 0;
    color: #666666;
    border-color: #fff;
}
.page_location > ul > li > a {
    position: relative;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
}
.page_location > ul > li:before {
    display: inline-block;
    width: 10px;
    height: 12px;
    margin: 0 3px 0 7px;
    content: '';
    vertical-align: middle;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/icons.png) -151px -1px no-repeat;
}
.page_location > ul > li > span {
    display: inline-block;
    margin-top: 4px;
}
.add_header {
    margin-bottom: 40px;
        display: block;
}
.add_header .sub_tit {
    font-size: 36px;
    margin-bottom: 15px;
}
.sub_tit {
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
    margin: 45px auto 40px;
    text-align: center;
}
.clearfix:before, .clearfix:after {
    display: table;
    overflow: hidden;
    content: "";
}
.mypage_cont .membox2 .line_do li:first-child {
    padding-left: 0;
}
.align-center {
    text-align: center !important;
}
.mt40 {
    margin-top: 40px !important;
}
.order_basketCont .tabs-content {
    overflow: inherit;
}
#cm_tabs_01{
	display: block;
}
#asJoin{
	width: 100%;
}
.p_re{
	    margin-bottom: 30px;
}
.p_re > p {
    margin: 0 0 10px 10px;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
}
.p_re ul {
    padding: 20px;
    border-top: 1px solid #dbdbdb;
    background: #fafafa;
}
.p_re ul li {
    padding-bottom: 5px;
    color: #666666;
}
.wrap .pop_wrap {
    background-color: #fff;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 600;
}
.mypage_cont .sevice_go .sevice_list li.list3 a:before {
    width: 28px;
    background-position: -81px -395px;
}
.mypage_cont .sevice_go .sevice_list li.list4 a:before {
    width: 34px;
    height: 33px;
    background-position: -114px -395px;
}
#myPage{
	margin-bottom: 400px;
}
.pop_wrap {
    border: 1px solid #6c6c6c;
    color: #3b3b3b;
}
.p_re ul li:last-child {
    padding-bottom: 0;
}

.paginate:after {
    clear: both;
}
.paginate_wide:before, .paginate:after {
    display: table;
    overflow: hidden;
    content: "";
}
.paginate:before, .paginate:after {
    display: table;
    overflow: hidden;
    content: "";
}
.mt20 {
    margin-top: 20px !important;
}
.paginate {
    padding: 10px 0;
    text-align: center;
}
table td.non_data, table td .non_data {
    padding: 40px;
    text-align: center;
    color: #3b3b3b;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 16px;
}
.relation_product > a.on .ico_arrow1 {
    background-position: -69px -94px;
}
.relation_product > a .ico_arrow1 {
    position: absolute;
    top: 4px;
    right: 6px;
    display: inline-block;
    width: 15px;
    height: 10px;
    vertical-align: middle;
    border-left: 1px solid #dbdbdb;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/icons.png) -69px -78px no-repeat;
}
.relation_product .relation_list.on {
    display: block;
    border: 1px solid #000;
    border-top-color: #bfbfbf;
    background: #fff;
    box-sizing: border-box;
}
.table_basic th a, .table_basic td a {
    color: #666666;
}
.mypage_cont .my_cont .table_select > p {
    line-height: 22px;
}
.normal {
    font-weight: normal !important;
}
.mypage_cont .my_cont .table_select {
    vertical-align: middle;
    text-align: left;
}
.relation_list{
	width: 110px;
}
.relation_product .relation_list > li {
    position: relative;
    border-top: 1px solid #f2f2f2;
}
.mypage_cont .my_cont .table_select .relation_product .relation_list li {
    padding: 3px 5px 3px 10px;
}
.relation_product .relation_list > li:first-child {
    border-top: 0;
}
.relation_product .relation_list {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 0;
    display: none;
    max-height: 219px;
    overflow-y: auto;
}
.relation_product {
    position: relative;
}
.mypage_cont .my_cont .table_basic th {
    background: #fafafa;
}
.relation_product > a.on {
    border-color: #000;
}
.mypage_cont .my_cont .table_select .relation_product {
    background-color: #fff;
}
.table_basic thead th {
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}
.table_basic table tr:first-child th, .table_basic table tr:first-child td {
    border-top: 0;
}
.table_basic {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 10px;
}
.gallery_line_type1 td {
    text-align: center;
}
.btn_mlType1 {
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    height: 34px;
    padding: 0 30px !important;
    color: #fff !important;
    border: 1px solid #e50015;
    background: #e50015;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mb10 {
    margin-bottom: 10px;
}
.btn_mlType1 mb10{
	    width: 160px;
    margin-bottom: 10px;
    color: #fff !important;
    border: 1px solid #e50015;
    background: #e50015;
    height: 34px;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.mypage_cont .membox2 .online_box a {
    padding: 0 !important;
    line-height: 29px;
}
.mypage_cont .membox2 .online_box {
    width: 166px;
    height: 78px;
    position: absolute;
    right: 21px;
    top: 34px;
}
.mt25 {
    margin-top: 25px !important;
    display: block;
}
.mypage_cont .my_lnb {
    width: 210px;
    display: table-cell;
}
.mypage_cont .my_lnb ul > .tit:first-child {
    margin: 0;
}
.mypage_cont .my_lnb ul > .tit ul li {
    height: 24px;
}
.mypage_cont .my_lnb ul > .tit ul {
    margin: 10px 0 0 0;
}
.mypage_cont .my_cont {
    width: 890px;
    display: table-cell;
}
.mypage_cont .my_lnb ul > .tit ul li a {
    font-size: 11px;
    font-weight: normal;
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #666666;
}
.positR {
    position: relative;
}

.mypage_cont .my_lnb ul > .tit ul li.on a {
    color: #e50015;
    text-decoration: underline;
}
.fc_type6 {
    color: #3b3b3b;
}
.btn_sType1.pd4 {
    padding: 4px 15px;
    padding: 5px 15px 3px \0/IE89;
    text-align: center;
}
.member_table {
    margin-top: 10px;
}

.line_table {
    border-collapse: collapse;
}
.line_table {
    border-collapse: collapse;
}
.member_table th {
    background: #fafafa;
    padding: 0 15px;
    height: 80px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #000000;
    font-size: 20px;
}
.ico_member2 {
    color: #e50015;
}
.ico_member2:before {
    display: inline-block;
    content: '';
    width: 56px;
    height: 56px;
    vertical-align: middle;
    margin-right: 10px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_member.png) -177px 0 no-repeat;
}
.line_table td:first-child {
    border-left: 0;
}
.member_table td.bg_img1 {
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/bg_member.png) 310px 140px no-repeat;
}
.member_table td {
    border-bottom: 1px solid #dbdbdb;
    height: 80px;
    line-height: 1.6;
    color: #666666;
}
.member_table td {
    border-bottom: 1px solid #dbdbdb;
    height: 80px;
    line-height: 1.6;
    color: #666666;
}

.line_table td {
    padding: 4px 12px;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.board_head_txt:after {
    clear: both;
}
table td.non_data, table td .non_data {
    padding: 40px;
    text-align: center;
    color: #3b3b3b;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 16px;
}
table td.non_data, table td .non_data {
    padding: 40px;
    text-align: center;
    color: #3b3b3b;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 16px;
}
*, html, body {
    margin: 0;
    padding: 0;
}
.my_cont .check_list li {
    float: left;
    width: 25%;
    margin-top: 7px;
}

.mt0 {
    margin-top: 0px !important;
}
.board_head_txt:before, .board_head_txt:after {
    display: table;
    overflow: hidden;
    content: "";
}
.pb0 {
    padding-bottom: 0px !important;
}
.member_table td {
    border-bottom: 1px solid #dbdbdb;
    height: 80px;
    line-height: 1.6;
    color: #666666;
}
.mypage_cont .mypage_mem .member_table td.bg_img1 {
    background-size: 241px 617px;
    background-position: 264px 195px;
}
.member_table td {
    border-bottom: 1px solid #dbdbdb;
    height: 80px;
    line-height: 1.6;
    color: #666666;
}
.member_table td.bg_img2 {
    padding: 40px 0;
    background: #fafafa url(//image.abcmart.co.kr/nexti/images/abcmart_new/bg_member.png) 395px -242px no-repeat;
}
.line_table td {
    padding: 4px 12px;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ico_member1:before {
    display: inline-block;
    content: '';
    width: 56px;
    height: 56px;
    vertical-align: middle;
    margin-right: 10px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_member.png) -116px 0 no-repeat;
}
.cp_type1_2 {
    background-position: 0 -47px;
}
.paginate a.on {
    color: #ffffff;
    background-color: #e50015;
    border-color: #e50015;
}
table td .cp_type1_1, table td .cp_type1_2, table td .cp_type1_2 {
    line-height: 1.3;
}
.password_box {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fafafa;
    position: relative;
    padding: 26px 40px;
}
.order_basketCont .tabs-content {
    overflow: inherit;
}
#mobileTable{
	
}
#tra{
	empty-cells: show;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}
.sns_bg_group li {
    float: left;
    width: 50%;
    text-align: center;
}
.sns_bg_group .ico_sns2:before {
    content: '';
    display: inline-block;
    float: left;
    width: 48px;
    height: 31px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_member.png) -451px -112px no-repeat;
}
.password_box .inBox {
    margin-left: 125px;
}
.pb35 {
    padding-bottom: 35px;
}
.board_head_txt {
    *zoom: 1;
    color: #666666;
        padding: 0 0 13px 10px;
    }
.board_head_txt {
    *zoom: 1;
    color: #666666;
    padding: 0 0 13px 10px;
}
.password_box pointPw mt10{
	background: "none";
}
.password_box.pointPw {
    position: relative;
    padding: 20px;
}
.pb0 {
    padding-bottom: 0px !important;
}
.board_head_txt h3.fl-l:after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 15px;
    vertical-align: middle;
    background: #dbdbdb;
    margin: 0 15px;
}
.btn_mType3 {
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    padding: 0 10px !important;
    color: #fff !important;
    border: 1px solid #bfbfbf;
    background: #bfbfbf;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn_mType1 {
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    padding: 0 10px !important;
    color: #fff !important;
    border: 1px solid #e50015;
    background: #e50015;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.relation_product > a {
    position: relative;
    width: 445px;
    padding: 3px 6px 3px 10px;
    padding: 4px 6px 2px 10px \0/IE89;
    border: 1px solid #bfbfbf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pt35 {
    padding-top: 35px;
}
.sns_bg_group .ico_sns1:before {
    content: '';
    display: inline-block;
    float: left;
    width: 48px;
    height: 31px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_member.png) -451px -81px no-repeat;
}
.sns_bg_group a {
    width: 260px;
    height: 31px;
    border: 1px solid #dedede;
    line-height: 29px;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
}
.sns_bg_group {
    background: #fafafa;
    padding: 40px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.table_basic th, .table_basic td {
    font-size: 11px;
    line-height: 1.5;
    padding: 10px 15px;
    word-break: break-all;
    color: #666666;
    border: 0;
    border-top: 1px solid #dbdbdb;
}
.userLveRsnCode{
	    line-height: 1.5;
    display: inline-block;
    word-break: break-all;
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
}


.table_basic.no_point {
    border-top-color: #dbdbdb;
    border-bottom-color: #dbdbdb;
}
.fc_type5 {
    color: #a4a4a4;
}
.fc_type2 {
    color: #f3646a;
}
.paginate a {
    width: 22px;
    height: 22px;
    border: 1px solid #dbdbdb;
    vertical-align: middle;
    line-height: 22px;
    color: #7b7b7b;
    font-family: "tahoma", Dotum, Gulim, Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 12px;
}
.cp_type1_1, .cp_type1_2 {
    width: 104px;
    height: 43px;
    padding-left: 22px;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #3b3b3b;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/bg_coupon.png) no-repeat 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn_sType1 {
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    display: inline-block;
    padding: 2px 6px;
    padding: 3px 6px 1px \0/IE89;
    color: #666666;
    border: 1px solid #bfbfbf;
    background: #fff;
}
.positR .positA {
    position: absolute;
}
.mypage_cont .my_cont header .positA {
    right: 10px;
    bottom: 0;
}
.mypage_cont .my_lnb ul > .tit {
    font-size: 16px;
    font-weight: bold;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #000000;
    margin-top: 20px;
}
.mypage_cont .my_lnb ul {
    margin: 0 30px 0 10px;
}

.btn_mlType5 {
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    height: 34px;
    padding: 0 30px !important;
    color: #e50015;
    border: 1px solid #e50015;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mypage_cont .membox2 .line_do li {
    width: auto;
    float: left;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #3b3b3b;
    line-height: 12px;
}
.mypage_cont .membox2 .line_do li em {
    font-weight: bold;
}
.mypage_cont .membox2 .line_do li:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 13px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_etc.png) -121px -342px no-repeat;
    vertical-align: middle;
    margin-right: 6px;
}
.mypage_cont .membox {
    width: 326px;
    height: 149px;
    border: 1px solid #bfbfbf;
    padding-left: 158px;
    position: relative;
}
.mypage_cont .membox .tit_type1 {
    color: #3b3b3b;
    margin-top: 25px;
}
.mypage_cont .membox:before {
    content: '';
    display: block;
    width: 99px;
    height: 97px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_member.png) -265px -602px no-repeat;
    position: absolute;
    left: 34px;
    top: 33px;
}
.mypage_cont .membox.online:before {
    content: '';
    display: block;
    width: 99px;
    height: 97px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_member.png) -65px -242px no-repeat;
    position: absolute;
    left: 34px;
    top: 33px;
}
.fl-l {
    float: left;
}
.mt30 {
    margin-top: 30px;
}
.clearfix:after {
    clear: both;
}
.board_head_txt {
    *zoom: 1;
    color: #666666;
    padding: 0 0 13px 10px;
}
.table_basic {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 10px;
}
#tableCss{
	empty-cells: show;
    width: 100%;
    table-layout: fixed;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}
.tabl{
	width:100%
}
#cass{
	width: 100%;
}
.fav_brand {
    margin-top: 20px;
    padding: 20px 30px;
    border: 1px solid #dbdbdb;
}
.pb20 {
    padding-bottom: 20px;
}

.pt20 {
    padding-top: 20px;
}
.mt10 {
    margin-top: 10px !important;
}
.container_wrap{
    empty-cells: show;
    width: 100%;
    table-layout: fixed;
    /* border-collapse: collapse; */
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}
.mypage_cont .sevice_go > p {
    width: 120px;
    margin-left: 70px;
    float: left;
    text-align: right;
    line-height: 28px;
}
.tit_type1 {
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}
.fs16 {
    font-size: 16px !important;
}
div.list_type3:before, p.list_type3:before, .list_type3 li:before {
    position: absolute;
    top: 7px;
    left: 3px;
    display: block;
    width: 4px;
    height: 5px;
    content: '';
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/icons.png) -213px -130px no-repeat;
}
.orderStatCode{
	line-height: 1.5;
    display: inline-block;
    word-break: break-all;
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    
}
.dlvyStatCode{
	line-height: 1.5;
    display: inline-block;
    word-break: break-all;
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    
}
.calendarRange{
	line-height: 1.5;
    display: inline-block;
    word-break: break-all;
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    
}
.snsOrderYn{
	line-height: 1.5;
    display: inline-block;
    word-break: break-all;
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    
}
.topAccessYn{
	line-height: 1.5;
    display: inline-block;
    word-break: break-all;
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    
}
.btn_sType2 {
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    display: inline-block;
    padding: 2px 6px;
    padding: 3px 6px 1px \0/IE89;
    color: #ffffff !important;
    border: 1px solid #f3646a;
    background: #f3646a;
    line-height: 13px;
}
.positR .positA {
    position: absolute;
}
.mypage_cont .my_cont header .positA {
    right: 10px;
    bottom: 0;
}
.ml10 {
    margin-left: 10px;
}
div.list_type3, p.list_type3, .list_type3 li {
    line-height: 1.8;
    position: relative;
    padding-left: 12px;
}
.pt30 {
    padding-top: 30px;
}
.career_list_box > section:first-child {
    margin-top: 0;
}
.career_list_box > section {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 40px 0 40px 80px;
    margin-top: 20px;
    background-color: #fafafa;
    *zoom: 1;
}
.mypage_cont .mypage_mem .career_list_box section:before {
    display: block;
    position: absolute;
    left: 90px;
    top: 40px;
}
.career_list_box .career_type2:before {
    float: left;
    margin-right: 40px;
    margin-top: 5px;
    display: inline-block;
    content: '';
    width: 54px;
    height: 54px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_etc.png) -66px -439px no-repeat;
}
.mypage_cont .mypage_mem .career_list_box section:before {
    display: block;
    position: absolute;
    left: 90px;
    top: 40px;
}
.mypage_cont .mypage_mem .career_list_box section .in {
    margin-left: 103px;
    padding-right: 40px;
}
.career_list_box > section p {
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 24px;
    color: #3b3b3b;
}
.fs14 {
    font-size: 14px !important;
}

.mt5 {
    margin-top: 5px !important;
}
.clearfix:before, .clearfix:after {
    display: table;
    overflow: hidden;
    content: "";
}
.mypage_cont .mypage_mem .career_list_box section .list_type3 li {
    float: left;
    font-family: Verdana, sans-serif, Helvetica, sans-serif;
}
div.list_type3, p.list_type3, .list_type3 li {
    line-height: 1.8;
    position: relative;
    padding-left: 12px;
}
.mypage_cont .mypage_mem .career_list_box section .list_type3 li:before {
    top: 17px;
}
div.list_type3:before, p.list_type3:before, .list_type3 li:before {
    position: absolute;
    top: 7px;
    left: 3px;
    display: block;
    width: 4px;
    height: 5px;
    content: '';
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/icons.png) -213px -130px no-repeat;
}
.fs18 {
    font-size: 18px !important;
}
.mypage_cont .mypage_mem .career_list_box section .list_type3 li {
    float: left;
    font-family: Verdana, sans-serif, Helvetica, sans-serif;
}
.clearfix:after {
    clear: both;
}
.mypage_cont .mypage_mem .career_list_box section .bt_txt {
    padding-top: 10px;
    margin-top: 30px;
    border-top: 1px dashed #dbdbdb;
}
.mypage_cont .mypage_mem .career_list_box section .bt_txt p {
    margin-bottom: 20px;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #3b3b3b;
    font-size: 16px;
}
.btn_lType1 {
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 44px;
    min-width: 133px;
    height: 50px;
    padding: 0 20px;
    color: #ffffff;
    border: 1px solid #e50015;
    background: #e50015;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mt40 {
    margin-top: 40px !important;
}
.mypage_cont .mypage_mem .career_list_box section {
    position: relative;
}
.mt10 {
    margin-top: 10px !important;
}
.fc_type8 {
    color: #000000;
}
.mypage_cont .my_cont .cal_box {
    height: 70px;
    padding: 0 35px;
}
.container_wrap{
	margin-bottom: 800px;
}
.password_box.couponList:before {
    height: 50px;
    background-position: -303px -275px;
}
.column_tab.column2 li {
    width: 50%;
}
.btn_sType3.pd4 {
    padding: 4px 15px;
    text-align: center;
}
.align-left pl0 td{
	    text-align: center;
}
.positR {
    position: relative;
}
.tit_type1 {
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
}
.fs16 {
    font-size: 16px !important;
}
.ml10 {
    margin-left: 10px;
}
.password_box {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fafafa;
    position: relative;
    padding: 26px 40px;
}
.password_box:before {
    content: '';
    display: block;
    width: 92px;
    height: 63px;
    position: absolute;
    left: 40px;
    top: 30px;
}
.moveBtn.on {
    border: 1px solid #e50015;
    color: #e50015 !important;
}
.positR .positA.b1 {
    bottom: 1px;
}

.positR .positA.r10 {
    right: 10px;
}
.moveBtn {
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    display: inline-block;
    padding: 6px 16px;
    color: #3b3b3b;
    border: 1px solid #8b8b8b;
    background: #fff;
    line-height: 13px;
}
p.list_type1:before, .list_type1 li:before {
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 2px;
    height: 2px;
    content: '';
    background: #7b7b7b;
}

.mt20 {
    margin-top: 20px !important;
}
p.list_type1, .list_type1 li {
    line-height: 1.8;
    position: relative;
    padding-left: 10px;
    font-family: "tahoma", Dotum, Gulim, Verdana, sans-serif, Helvetica, sans-serif;
    color: #666666;
}
.mypage_cont .membox .bot_line {
    margin: 10px 0 0 17px;
}
.column_tab.column5 li {
    width: 20.09%;
}
.column_tab li {
    float: left;
    width: 25.07%;
    margin: 0 -1px 1px 0;
    padding-right: 1px;
    border: 1px solid #bfbfbf;
    border-bottom-color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.column_tab li a {
    line-height: 35px;
    width: 100%;
    height: 35px;
    text-align: center;
}
.column_tab li.current a {
    font-weight: bold;
    color: #3b3b3b;
}
.column_tab li.current {
    position: relative;
    z-index: 1;
    border-color: #000;
    border-bottom-color: #fff;
}
.column_tab:before, .column_tab:after {
    display: table;
    overflow: hidden;
    content: "";
}
.column_tab:after {
    clear: both;
}
.cal_box {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fafafa;
}
.mypage_cont .membox .bg_fa {
    display: inline-block;
    padding: 2px;
}
.mssz{
	empty-cells: show;
    width: 100%;
    table-layout: fixed;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}
.mypage_cont .my_cont .cal_box table th, .mypage_cont .my_cont .cal_box table td {
    padding-top: 20px;
}
.mypage_cont .my_cont .cal_box table td .day_ch {
    display: inline-block;
}
.mypage_cont .my_cont .cal_box table td .day_ch a {
    display: inline-block;
    height: 12px;
    padding: 3px 8px;
    margin-right: 4px;
    color: #666666;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
}

.mr5 {
    margin-right: 5px;
}

.day_select mr5 hasDatepicker{
	    width: 138px;
    height: 26px;
    margin: 0;
    vertical-align: middle;
}
.mypage_cont .my_cont .cal_box table td .day_ch a:last-child {
    margin-right: 0;
}
.tit_type3 {
	font-weight: normal;
    font-style: normal;
    font-family: "tahoma", Dotum, Gulim, Verdana, sans-serif, Helvetica, sans-serif;
}

.ui-datepicker-trigger{
	height: auto;
    vertical-align: middle;
        border: 0;
}
.mypage_cont .my_cont .cal_box table td .day_ch a.on {
    background-color: #bfbfbf;
    color: #fff;
}
#cml10{
	width: 63px;
    height: 30px;
}
.mr10 {
    margin-right: 10px;
}
.mypage_cont .my_cont .cal_box table td .btn_mlType1 {
    padding: 0 !important;
    text-align: center;
    line-height: 24px;
}
.mypage_cont .my_cont .cal_box table th {
    color: #3b3b3b;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.container_wrap table{
	width: 100%;
}
.bold {
    font-weight: bold !important;
}
.btn_sType3 {
    font-family: Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    display: inline-block;
    padding: 0 6px;
    color: #e50015 !important;
    border: 1px solid #e50015;
    background: #fff;
}

.btn_sType3.pd2 {
    padding: 2px 6px;
    padding: 3px 6px 1px \0/IE89;
    line-height: 13px;
}
.ml30 {
    margin-left: 30px;
}
.mypage_cont .membox2 .line_up li.point:before {
    background-position: -62px -341px;
}
.fs12 {
    font-size: 12px !important;
}
.mypage_cont .membox2 .line_do {
    padding-top: 20px;
}
.mypage_cont .my_cont header .positA {
    right: 10px;
    bottom: 0;
}
.mypage_cont .membox2 .line_up li {
    width: 117px;
    height: 45px;
    float: left;
    padding-left: 58px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #3b3b3b;
}.mypage_cont .membox2 .line_up li.coupon:before {
    background-position: 0 -341px;
    left: 10px;
}
.mypage_cont .membox2 .line_up li em {
    font-weight: bold;
    font-family: Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 32px;
}
.fc_type1 {
    color: #e50015;
}


.mypage_cont .membox2 .line_up li:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_etc.png) 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.mypage_cont .membox2 .line_up li.coupon {
    width: 103px;
    padding-left: 72px;
}
.mypage_cont .membox2 .line_up {
    width: 353px;
    height: 64px;
    padding-top: 25px;
    border-bottom: 1px dotted #dbdbdb;
}
.mypage_cont .membox2 {
    width: 552px;
    height: 149px;
    padding-left: 30px;
    border: 1px solid #e50015;
    position: relative;
}
.ico_arrow:after {
    display: inline-block;
    width: 8px;
    height: 12px;
    content: '';
    vertical-align: middle;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/icons.png) -135px -1px no-repeat;
}
.mypage_cont .membox a {
    margin-left: 10px;
}
.bg_fa {
    background-color: #fafafa;
}
.mypage_cont .sevice_go > p span {
    text-indent: -9999em;
    margin-left: 8px;
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 3px solid transparent;
    border-top: 0.3rem solid transparent;
    border-bottom: 3px solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-left: 3px solid #3b3b3b;
    border-left: 0.3rem solid #3b3b3b;
    font-size: 0;
}

.mypage_cont .sevice_go .sevice_list {
    float: left;
}
.mypage_cont .sevice_go .sevice_list li {
    float: left;
    width: auto;
    height: 30px;
    margin-left: 20px;
    position: relative;
}
.mypage_cont .sevice_go .sevice_list li a {
    font-family: "Malgun Gothic", Dotum, Gulim, "tahoma", Verdana, sans-serif, Helvetica, sans-serif;
    color: #3b3b3b;
    font-size: 13px;
    position: relative;
}
.mypage_cont .sevice_go .sevice_list li.list1 a:before {
    width: 33px;
    background-position: 0 -397px;
}

.mypage_cont .sevice_go .sevice_list li a:before {
    content: '';
    display: inline-block;
    height: 30px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_etc.png) 0 0 no-repeat;
    vertical-align: middle;
    margin-right: 3px;
}
.mypage_cont .sevice_go .sevice_list li a .num {
    display: block;
    position: absolute;
    left: -10px;
    top: -5px;
    width: 20px;
    background: #f3646a;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-family: "tahoma", Dotum, Gulim, Verdana, sans-serif, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    line-height: 11px;
}
.num{
	font-weight: normal;
    font-style: normal;
}
.mypage_cont .sevice_go .sevice_list li.list6 a:before {
    width: 33px;
    background-position: -196px -396px;
}

.mypage_cont .sevice_go .sevice_list li .next {
    margin-left: 20px;
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 2px solid transparent;
    border-top: 0.2rem solid transparent;
    border-bottom: 2px solid transparent;
    border-bottom: 0.2rem solid transparent;
    border-left: 2px solid #8b8b8b;
    border-left: 0.2rem solid #8b8b8b;
    text-indent: -9999em;
}

.mypage_cont .sevice_go .sevice_list li.list2 a:before {
    width: 35px;
    background-position: -38px -395px;
}
.cp_type1_2 {
    background-position: 0 -47px;
}
.fl-l {
    float: left;
}
.fl-l ml20 td{
	text-align: center;
}
.password_box.pointPw {
    position: relative;
    padding: 20px;
}
.stampCont .fstamp_num ul li p {
    padding-top: 11px;
    line-height: 36px;
}
.tit_type4 {
    font-family: Verdana, sans-serif, Helvetica, sans-serif;
}
.stampCont .fstamp_num ul {
    height: 68px;
    padding: 10px 0;
}
.stampCont .fstamp_num ul li:before {
    content: '';
    display: block;
    width: 65px;
    height: 67px;
    background: url(//image.abcmart.co.kr/nexti/images/abcmart_new/ico_etc.png) -414px 0px no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.stampCont .password_box.pointPw .inBox {
    margin-left: 160px;
}
.password_box.pointPw p {
    position: absolute;
    left: 40px;
    top: 22px;
}
.password_box {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fafafa;
    position: relative;
    padding: 26px 40px;
}
.gallery_line_type1 td {
    text-align: center;
}
.mypage_cont .sevice_go .sevice_list li.list5 a:before {
    width: 37px;
    height: 31px;
    background-position: -155px -395px;
}
.password_box.couponList .inBox {
    margin-left: 115px;
}

