<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSQL">
	<!-- 구매 이력 등록 -->
	<insert id="writeOrder" parameterType="orderDTO">
		insert into orderABCD values(seq_orderABCD.nextval
		,#{abcdCode}
		,#{buyerName}
		,#{buyerTel1}
		,#{buyerTel2}
		,#{buyerTel3}
		,#{buyerEmail1}
		,#{buyerEmail2}
		
		,#{dlvyName}
		,#{dlvyTel1}
		,#{dlvyTel2}
		,#{dlvyTel3}
		,#{dlvyZipcode}
		,#{dlvyAddr1}
		,#{dlvyAddr2}
		,#{dlvyMsg}
		
		,#{coupon}
		,#{point}
		,#{dlvyPrice}
		,#{payChoice}
		,#{totalPrice}
		,sysdate
		,#{id}
		,#{shoesimage}
		)
	</insert> 
	
	<!--insert 후  날짜 -->
	<select id="oneOrder" parameterType="String" resultType="orderDTO">
		select * from (select  * from orderABCD where buyername = #{buyerName} order by seq desc) where rownum=1
		
	</select>
	
	<!-- 최근 배송 리스트  -->
	<select id="orderAddressList" parameterType="String" resultType="orderDTO">
		select * from (select  * from orderABCD where buyername = #{id} order by seq desc) where rownum <![CDATA[<=]]> 5
	</select>
	
	<!-- test 장바구에서 결제페이지로 데이터 이동 --> 
	<select id="getOrderDirect" parameterType="String" resultType="cartDTO">
		select * from cartlist where id=#{id}
	</select>
	<select id="getOrderList" parameterType="String" resultType="cartDTO">
		select * from mycartlist where id=#{id}
	</select>
	
	<!-- orderWrite cartDTO에 데이터 넣기 -->
	<insert id="directWrite" parameterType="cartDTO">
		insert into cartList values(
								#{id},
								#{prdtcode},
								#{shoesimage},
								#{shoesbrand},
								#{shoesname},
								#{shoescolor},
								
								#{shoessize},
								#{shoesprice},
								#{shoesqty},
								#{shoesdiscount},
								#{shoespoint}
								)
		
	</insert>
	<delete id="deleteCart" parameterType="String">
		delete from cartlist where id = #{id}
	</delete>
	
	
	<delete id="deleteMyCart" parameterType="String">
		delete from mycartlist where id=#{id}
	</delete>
	
	
	
	<!--  paymentInfo 테이블에 등록-->
	<insert id="paymentInfo" parameterType="order.bean.PaymentinfoDTO">
		insert into paymentinfo values(
								#{orderNum},
								#{orderDate},
								#{orderId},
								#{orderPrdt},
								#{orderPrice},
								#{orderDelivery},
								#{orderPayment},
								#{orderSize}
			
								)
	</insert>
	<!-- 재고 관리 -1 -->
	<update id="prdtManagement" parameterType="java.util.Map">
		update prdtManagement set prdtqty= prdtqty-1 where prdtcode = #{prdtcode} and prdtsize = #{shoessize}
	</update>
	
	<select id="orderHistory" parameterType="String" resultType="orderDTO">
		select * from orderABCD where id = #{id} order by 1
	</select>
	
</mapper>